.btn{
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
}

.table>tbody>tr>td>.btn{
	padding: 0px;
}

#container_users{
	padding: 0px;
}

#form_new_user{
	padding: 0px;
}

#btn-add_user{
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}